/*设置*/
body {margin:0; padding:0; font:12px/1.5 \5b8b\4f53,Arial,sans-serif;background:#ffffff;}
div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,blockquote,p{padding:0; margin:0;}
table,td,tr,th{font-size:12px;}
ol,ul {list-style:none;}
li{list-style-type:none;}
img{vertical-align:middle;border:0;}
h1,h2,h3,h4,h5,h6{font-size:inherit; font-weight:normal;}
a{text-decoration:none; color: #444444;}
a:hover{color: #a41f24; text-decoration: underline;}
.clearfix:before,.clearfix:after{content:""; display:table; }
.clearfix:after{clear:both; }
.clearfix{zoom:1; /* IE < 8 */ }
.poffs-t1{margin-top:5px;}
.poffs-t2{margin-top:10px;}
.poffs-t3{margin-top:15px;}
.poffs-t4{margin-top:20px;}
.poffs-b1{margin-bottom: 5px; }
/*设置font:16px/1.5 \5FAE\8F6F\96C5\9ED1,\5b8b\4f53,Arial,sans-serif;*/
.cna_allbox{width: 980px; margin: 0 auto; }
.cna_js_pic{margin-top:10px; height:322px; overflow: hidden;}
/*我是图片切换*/
.J_ui_picSwitch{width: 620px; height: 322px; overflow: hidden; position: relative;}
.J_ui_picSwitch .layer_font_bg{width:620px; height:44px; position:absolute; left:0px; bottom:0px; background-color:#000; filter:alpha(Opacity=30); opacity: 0.3;}
.J_ui_picSwitch .layer_font{position:absolute; font-size:14px; font-weight:bold; left:20px; bottom:13px; color:#fff; z-index:1;}
.J_ui_picSwitch .layer_font a{color:#fff; display:none;}
.J_ui_picSwitch .J_ui_post{position: relative;left: 0px;top: 0px;}
.J_ui_picSwitch .J_ui_post li{position: relative;}
.J_ui_picSwitch .J_ui_a{position: absolute; width: 710px; left: 0px; bottom: 0px; z-index: 10; }
.J_ui_picSwitch .J_ui_a li{background-color: #ee9494; width: 175px; height: 4px; float: left; text-align: center; overflow:hidden; line-height: 20px; margin-right: 4px;  cursor:pointer;}
.J_ui_picSwitch .J_ui_a li.on{background-color: #5e0a0a; color: #fff;}
.J_ui_picSwitch .J_ui_postFloat li{float: left; overflow: hidden;}
.J_ui_picSwitch .J_ui_postPost li{position: absolute; left: 0px; top: 0px;}
.J_ui_picSwitch .J_ui_butPost_a{background:url(../images/but1.png) no-repeat left top; _background: none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled='true', sizingMethod='corp', src='images/left.png'); width: 50px; height: 54px; position: absolute; left:0px;top: 137px; cursor: pointer; filter:alpha(Opacity=50); opacity: 0.5; display:none;}
.J_ui_picSwitch .J_ui_butPost_b{background:url(../images/but2.png) no-repeat left top; _background: none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled='true', sizingMethod='corp', src='images/right.png'); width: 50px; height: 54px;position: absolute; right:0px;top: 137px; cursor: pointer; filter:alpha(Opacity=50); opacity: 0.5; display:none;}
/*我是图片切换*/
.cna_content_title .js_more{position:absolute; right:20px;}
.cna_content_title .js_more .r1{ width:55px; height:27px; border-bottom:2px #fff solid;  overflow:hidden; *float: left; position:relative;display:table-cell;text-align:center;vertical-align:middle; cursor: pointer;}
/*.cna_content_title .js_more .on{background-color:#e7f0f8; border-bottom:2px #b8333e solid;}*/
.cna_content_title .js_more .r1 p {position:static;+position:absolute;top:50%;}
.cna_content_title .js_more .r1 p a img {position:static;+position:relative;top:-50%;left:-50%;}

.cna_js_pic_a{float:left; width:620px; height:322px; background-color: #000;}
.cna_js_pic_b{float:right; width:320px; height:292px; background-color: #b71b14; padding: 15px 20px;}
.cna_js_pic_b .cna_js_pic_b_title{font:18px/1.5 \5FAE\8F6F\96C5\9ED1,\5b8b\4f53,Arial,sans-serif; color:#fff; border-bottom: 1px #440c0c solid;}
.cna_js_pic_b .cna_js_pic_b_title .more{float:right; display: inline-block; font:12px/1.5 \5b8b\4f53,Arial,sans-serif; color:#deabab;}
.cna_js_pic_b .cna_js_pic_b_title a:hover.more{color:#fff;}
.cna_js_pic_b .cna_js_pic_b_title .more s{background: url(../images/icon.jpg) no-repeat 0px 0px; width:14px; height:11px; display: inline-block; overflow: hidden; margin:10px 0 0 5px;}
.cna_js_pic_b .cna_js_pic_b_title .border{height:1px; background-color: #701a1a; overflow: hidden; margin-top: 5px;}
.cna_js_pic_b .list{color: #fff;}
.cna_js_pic_b .list li{margin: 10px 0 0 5px; _margin-top:14px;}
.cna_js_pic_b .list li s{display: inline-block; background-color: #762525; width: 4px; height:4px; overflow: hidden; margin-right: 10px; position: relative; top: -3px;}
.cna_js_pic_b .list li a{color:#deabab;}
.cna_js_pic_b .list li a:hover{color:#fff;}
.cna_tab_link{height: 1px; border-top:1px #e1e1e1 solid; margin-top: 30px; position: relative;}
.cna_tab_link_a,.cna_tab_link_b,.cna_tab_link_c{position: absolute; left:245px; top:-15px; width: 103px; height:27px; background-color: #fff;}
.cna_tab_link_b{left:404px;}
.cna_tab_link_c{left:572px;}
.cna_tab_link_a s,.cna_tab_link_b s,.cna_tab_link_c s{background: url(../images/icon.jpg) no-repeat -17px 0px; width:32px; height:26px; display:inline-block; vertical-align: middle; margin-left: 15px;}
.cna_tab_link_b s{background-position: -51px 0px; width:36px;}
.cna_tab_link_c s{background-position: -88px 0px; width:35px;}
.cna_tab_link_a a,.cna_tab_link_b a,.cna_tab_link_c a{color:#cacaca; vertical-align: middle; display: inline-block;  font-size: 14px;}
.cna_tab_link_a span,.cna_tab_link_b span,.cna_tab_link_c span{display: inline-block; vertical-align: middle; margin: 5px 0 0 10px;}
.cna_content_box{margin-top:34px;}
.cna_content_box_a{width: 728px; float:left;}
.cna_content_box_b{float: right; width:232px;}
.cna_content_title{font:18px/1.5 \5FAE\8F6F\96C5\9ED1,\5b8b\4f53,Arial,sans-serif; color:#b71b14; position:relative;}
.cna_content_title a{color:#b71b14; text-decoration: none;}
.cna_content_title .bgs{width:10px; height:25px; background-color: #b71b14; display: inline-block; vertical-align: middle; margin-right: 10px;}
.cna_content_title .more{float:right;}
.cna_content_title .more a{ font:12px/1.5 \5b8b\4f53,Arial,sans-serif; color:#aaa;}
.cna_content_title .more i{background: url(../images/icon.jpg) no-repeat 0px -12px; width:14px; height:11px; display: inline-block; overflow: hidden; margin:10px 0 0 5px;}
.cna_dates_box{height:956px;overflow: auto;position: relative; margin-top:10px;}
.cna_dates_color{position:absolute; width:2px; height:25px; background-color:#fff; overflow:hidden; left:5px; z-index:3;}
.cna_dates_list_box{border-left:2px #cfb4b4 solid; position:relative; margin-left:5px;  }
.cna_dates_list_box .cna_dates_pic{background: url(../images/icon.jpg) no-repeat -125px -13px; width:12px; height:12px; position:absolute; left:-7px; top:25px;}
.cna_dates_list_a{ padding:20px 10px 0 20px;}
.cna_dates_list_padding{padding-top:0px;}
.cna_dates_list_a .cna_dates_list_border{border-bottom: 1px #cccccc dotted; padding-bottom:20px; border-left:1px solid #fff;}
.cna_dates_list_a .cna_dates_list_border.on{background-color:#F8F8F8;border-left:1px solid #E0E4E8;}
.cna_dates_list_a .date_bg{background: url(../images/icon.jpg) no-repeat -142px 0px; width: 37px; height:21px; padding-top:7px; color:#fff; font:14px/1.5 \5FAE\8F6F\96C5\9ED1,\5b8b\4f53,Arial,sans-serif; text-align: center; margin-left:20px;}
.cna_dates_list_a .content{padding-left:35px;}
.content .head{height:59px; width:59px; border:1px #cccccc solid; float:left;}
.content .txt{width:560px; float:left; margin-left:15px; position:relative;}
.content .txt .title i{font-size:14px; font-weight:bold;}
.content .txt .title b{color:#666666;}
.content .txt .font{margin-left:55px; line-height:20px; _line-height:24px; margin-top:15px; position:relative; color:#666666; }
.content .txt .font a{color:#666666;}
.content .txt .font a:hover{color:#a41f24;}
.content .txt .font .d1{background: url(../images/icon.jpg) no-repeat -181px 0px; width: 13px; height:11px; display:inline-block; position:absolute; left:-20px; top:0px;}
.content .txt .font .d2{background: url(../images/icon.jpg) no-repeat -181px -15px; width: 13px; height:11px; display:inline-block;}
.cna_dates_list_border .content_b{margin-top:5px;  padding:10px 0 20px 18px; border-left:1px #fff solid;}
.cna_dates_list_border .content_b.on{background-color:#f8f8f8; border-left:1px #e0e4e8 solid;}
.cna_dates_list_box .poffs-padding{padding-bottom:0px;}
.cna_dates_list_box .big_title{font-weight:bold; font-size:14px;}
.cna_dates_list_box .content_b .head{height:58px; width:58px; border:1px #cccccc solid; float:left;}
.cna_dates_list_box .content_b .txt{width:540px; float:left; margin-left:15px;}
.cna_dates_list_box .content_b .txt .title i{font-size:14px; font-weight:bold;}
.cna_dates_list_box .content_b .txt .title b{color:#666666;}
.cna_dates_list_box .content_b .txt .font{margin-left:55px; line-height:20px; _line-height:24px; margin-top:15px; position:relative; color:#666666; }
.cna_dates_list_box .content_b .txt .font .d1{background: url(../images/icon.jpg) no-repeat -181px 0px; width: 13px; height:11px; display:inline-block; position:absolute; left:-20px; top:0px;}
.cna_dates_list_box .content_b .txt .font .d2{background: url(../images/icon.jpg) no-repeat -181px -15px; width: 13px; height:11px; display:inline-block;}
.cna_dates_list_box .content_b .txt .font a{color:#666666;}
.cna_dates_list_box .content_b .txt .font a:hover{color:#a41f24;}
.cna_dates_list_box .content_b .content_b_txt{margin:20px 0 0 33px;}
.cna_dates_list_box .big_title_b{font-size:14px; font-weight:bold; margin-top: 10px;}
.cna_dates_list_box .big_title_b s{background: url(../images/icon.jpg) no-repeat -197px 0px; width:14px; height:13px; display:inline-block; margin-right:10px; overflow:hidden;}
.cna_dates_list_box .ul_highlights li{float:left; margin:15px 0 0 10px; display:inline; width:120px;}
.cna_dates_list_box .ul_highlights li .img_div{ padding:1px; border:1px #cecece solid; margin-bottom:7px; position:relative; width:100px; overflow:hidden;}
.cna_dates_list_box .ul_highlights li .img_div s{display:block; position:absolute; background:url(../images/video.png) no-repeat left top; _background: none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled='true', sizingMethod='corp', src='images/video.png'); width:23px; height:23px; left:5px; top:25px;}

.cna_c_video_ul li{margin-top: 20px; width: 102px; height:117px; overflow: hidden; float:left; margin-left: 15px; display: inline;}
.cna_c_video_ul .img_div{width: 96px; height:51px; border: 1px #cecece solid; padding: 1px; margin-bottom: 8px;}
.cna_pics_box .ul_list li{width: 120px; height:125px; overflow: hidden; float:left; margin:20px 12px 0 13px; display: inline;}
.cna_pics_box .ul_list li .pic_box{width: 96px; height: 96px; border: 1px #cecece solid; padding: 1px; overflow: hidden; margin-bottom: 8px;}
.cna_content_title_b{background-color: #b71b14; height:35px; color: #fff; font:18px/1.5 \5FAE\8F6F\96C5\9ED1,\5b8b\4f53,Arial,sans-serif;}
.cna_content_title_b .bg{width: 7px; height: 35px; display: inline-block; background-color: #08315f; vertical-align: middle;}
.cna_content_title_b .font{display: inline-block; vertical-align: middle; margin-left:10px;}
.cna_table_r{ width:216px; margin: 0 auto; background-color: #ecf3f9; margin-top: 20px;}
.cna_table_r .cna_table_r_a{width:54px; height:25px; background-color: #ecf3f9; border-bottom: 2px #edcccf solid; *float: left;overflow:hidden;position:relative;display:table-cell;text-align:center;vertical-align:middle; cursor: pointer;}
.cna_table_r .cna_table_r_a p {position:static;+position:absolute;top:50%;}
.cna_table_r .cna_table_r_a p a img {position:static;+position:relative;top:-50%;left:-50%;}
.cna_table_r .on{background-color:#dae7f2; border-color:#b8333e;}
.cna_table_r ol li{float:left;}

.cna_content_box_b .cna_table_ul_list{display:none;}
.cna_content_box_b .cna_table_ul_list li{border-bottom: 1px #ccc dashed; width:205px; margin:0 auto; padding: 20px 0;}
.cna_content_box_b .cna_table_ul_list li .head{float:left; width:50px; height:50px; border: 1px #cdcdcd solid;}
.cna_content_box_b .cna_table_ul_list li .txt{float: right; width: 140px; line-height: 20px;}
.cna_content_box_b .cna_table_ul_list li .txt h3{font-weight: bold;}
.cna_content_box_b .cna_all_click{background-color: #eeeeee; width:200px; height:26px; line-height: 26px; text-align: center; margin:0 auto; display: block;}
.cna_content_box_b .cna_hot_video{width: 200px; margin: 0 auto; margin-top: 20px;}
.cna_content_box_b .cna_hot_video .a1{width: 99px; height:55px; border:1px #cdcdcd solid; float: left;}
.cna_content_box_b .cna_hot_video .a2{width: 90px; float: right; }
.cna_content_box_b .cna_hot_video .a2 .p1{height:35px; overflow: hidden;}
.cna_content_box_b .cna_hot_video .a2 .p2{color:#a9a9a9; margin-top:5px;}
.cna_content_box_b .cna_hot_video dt{margin-bottom: 15px;}
.cna_content_box_b .cna_hot_video dd{border-bottom:1px #eeeeee solid; height:20px; padding-bottom: 10px; overflow: hidden; line-height: 25px; _line-height: 40px; margin-bottom: 8px;}
.cna_content_box_b .cna_hot_video dd s{background: url(../images/icon.jpg) no-repeat -124px 0px; width: 15px; height: 11px; display: inline-block; margin:3px 10px 0 0;}
.cna_toupiao{width: 203px; margin: 0 auto; margin-top:20px;}
.cna_toupiao p{line-height: 20px;}
.cna_toupiao ul li{margin-top: 10px;}
.cna_toupiao .cna_toupiao_but{float:right; margin-top:20px;}
.cna_toupiao .cna_toupiao_but .cna_toupiao_but_a{padding:5px 15px; background-color:#a6000e; float:left; color:#fff; border: 0px;}
.cna_toupiao .cna_toupiao_but .cna_toupiao_but_b{padding:5px 15px; background-color:#eeeeee; float:left; color:#9b9b9b; margin-left:10px;  border: 0px;}

